body{
    max-width: 2850px;
    height: 3573px;
    /* background: url(Timeline.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    /* opacity: 0.5; */
}



